

  @font-face {

    src:url(MPLUS1p-Bold.ttf);
    font-family: mplus;
  }



.body {
    margin: 0 auto;
    font-family: mplus;
    background-image: url("3.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  }


.container {
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;

}

.cover {
   
    width: 100%;
    height: 100%;

}

.coverText {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    font-family: mplus;
    color:rgb(255, 255, 255);
    
}



.card {

    margin: 50px;
    position: absolute;
    bottom: 250px;
    right: 20px;
    width: 500px;
    height: 100px;
    
 
}

.logo {

    margin: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 250px;
   

}



.card p {
    font-size: 30px;
    line-height: 30px;
    font-family: mplus;
    text-indent: 30px;
    color:rgb(255, 153, 0);
    direction: rtl;

}

.form {
    margin: 50px;
    position: absolute;
    top: 30px;
    left:50px;
    width: 200px;
    height: 200px;
    color: rgb(255, 153, 0);
    font-family: mplus;
    direction: rtl;
}


.title {
    
    height: 15px;
    padding-top: 30px;
    text-align: center;
    font-size:x-large;
   
}

.title:hover {

    text-shadow: 2px 2px 10px  rgb(255, 153, 0), rgb(249, 253, 5) 0 -1px 2px;
}

.form label {
    float: left;
    margin-left: 37px;
    color: rgb(255, 153, 0);
    margin-top: 15px;
    margin-bottom: 3px;
}



.input-box {
    border: none;
	height: 48px;
    outline: none;
    text-align: center;
    background-color: #fff;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.input-box:hover {

    box-shadow: 2px 2px 20px  rgb(255, 153, 0), #fff 0 -1px 2px;
}


.submit {
    height:50px;
    width:100%;
   
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:50px;
    background-color: rgba(0, 0, 0, 0.575);
    padding:10px;
    margin-bottom:30px;
    color:rgb(255, 30, 0);
    font-family: mplus;
    font-size: 12pt;
    transition:background-color.4s;
    cursor:pointer;
  }
  
  .submit:hover{
    background-color:rgb(255, 153, 0);
    box-shadow: 2px 2px 20px  rgb(255, 153, 0), #fff 0 -1px 2px;
  }

  
.contact {
    position: absolute;
    bottom: 30px;
    left:80px;
    height:50px;
    width:90%;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:100px;
    background-color: rgba(0, 0, 0, 0.281);
    padding:1px;
    margin-bottom:10px;
    color:rgb(255, 30, 0);
    font-weight:bold;
    font-size: 12pt;
    cursor:pointer;
  }
  
  .contact:hover{
    background-color:rgb(255, 153, 0);
    
  }




